.app-name{
    padding-bottom: 20px;
    color: #DFE4ED;
}

.clickable-row:hover{
    cursor: pointer;
}

:root {
  --avatar-size: 12rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #E8EA37;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}