{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ view.title }}</h5>
                </div>
                <div class="ibox-content">
                        <form class="form-horizontal" role="form" method="post"
                              {% if view.title == 'Create employee' %}
                                action="{% url 'create_employee' %}"
                              {% else %}
                                  action="{% url 'edit_employee' employee.id %}"
                              {% endif %}>

                            {% csrf_token %}
                            {{ form.as_p}}

                            <p><button class="btn btn-sm btn-primary" type="submit">Save</button></p>
                        </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}