{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/icheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ view.title }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" method="post"
                          {% if view.title == 'Create payroll' %}
                            action="{% url 'create_employee' %}"
{#                              {% else %}#}
{#                                  action="{% url 'edit_employee' employee.id %}"#}
                          {% endif %}>

                        {% csrf_token %}
{#                            {{ form.as_p}}#}
                        <div class="form-p" id="data_start_date">
                            <label for="id_start_date">Start date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" name="start_date" class="form-control" id="id_start_date">
                            </div>
                        </div>
                        <div class="form-p" id="data_end_date">
                            <label for="id_end_date">End date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" name="end_date" class="form-control" id="id_end_date">
                            </div>
                        </div>
                        <div class="form-p" id="data_pay_date">
                            <label for="id_pay_date">Pay date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" name="pay_date" class="form-control" id="id_pay_date">
                            </div>
                        </div>
                        <p class="form-p">
                            <label for="id_add_all_active_employees">Add all active employees to this payroll:</label>
                            <input type="checkbox" name="add_all_active_employees" class="i-checks" id="id_add_all_active_employees" checked>
                        </p>

                        <p><button class="btn btn-sm btn-primary" type="submit">Save</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#data_start_date .input-group.date').datepicker({
                format: 'dd M yyyy',
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        $('#data_end_date .input-group.date').datepicker({
                format: 'dd M yyyy',
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        $('#data_pay_date .input-group.date').datepicker({
                format: 'dd M yyyy',
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });



    </script>

{% endblock %}

