{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/icheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ view.title }}{{ title }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" method="post"
                          {% if view.title == 'Create payroll' %}
                            action="{% url 'create_payroll' %}"
                          {% elif view.title == 'Edit payroll' %}
                              action="{% url 'edit_payroll' payroll.id %}"
                          {% endif %}>

                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        <div class="form-p" id="data_start_date">
                            <label for="id_start_date">Start date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                {{ form.start_date }}
                            </div>
                            {% for error in form.start_date.errors %}
                                <strong class="text-danger">{{ error|escape }}</strong>
                            {% endfor %}
                        </div>
                        <div class="form-p" id="data_end_date">
                            <label for="id_end_date">End date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                {{ form.end_date }}
                            </div>
                            {% for error in form.end_date.errors %}
                                <strong class="text-danger">{{ error|escape }}</strong>
                            {% endfor %}
                        </div>
                        <div class="form-p" id="data_pay_date">
                            <label for="id_pay_date">Pay date:</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                {{ form.pay_date }}
                            </div>
                            {% for error in form.pay_date.errors %}
                                <strong class="text-danger">{{ error|escape }}</strong>
                            {% endfor %}
                        </div>
                        <p><button class="btn btn-sm btn-primary" type="submit">Save</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#data_start_date .input-group.date').datepicker({
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        $('#data_end_date .input-group.date').datepicker({
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        $('#data_pay_date .input-group.date').datepicker({
                todayBtn: "linked",
                todayHighlight: true,
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });

    </script>

{% endblock %}

